/* Admin */

.vh-rp-select-container { overflow-y: auto; height: 200px; }

/* Boxes */

.clear { clear: both; }
.hidden { display: none; }

#vh-rp-container .vhrp-box { background: #f0eded; border: 1px solid #e0dedf; float: left; margin: 10px 10px; height: 330px; width: 230px; }
    #vh-rp-container .vhrp-box h2 { color: white !important; font: 22px 'Open Sans', Arial, sans-serif; font-weight: 600; line-height: 50px; margin: 0; min-height: 50px; text-align: center; text-transform: capitalize; }
    #vh-rp-container .vhrp-box h3 { color: #545454; font: 18px 'Open Sans', Arial, sans-serif; font-weight: normal; text-align: center; }
    #vh-rp-container .vhrp-box p { color: #545454; font: 12px Arial, sans-serif; font-weight: normal; padding: 0 20px; }
    #vh-rp-container .vhrp-box a.more { color: black; font: 12px Arial, sans-serif; font-weight: bold; }
    #vh-rp-container .vhrp-box .featured-image img { display: block; max-width: 170px; margin-top:20px;margin-bottom:10px; margin-left: auto; margin-right: auto;}


.vhrp-box.general h2 { background: #faa84f; }
.vhrp-box.video h2 { background: #faa84f; }
.vhrp-box.app-notes h2 { background: #021b3a; }
.vhrp-box.case-study h2 { background: #545454; }
.vhrp-box.services h2 { background: #a1b11a; }
.vhrp-box.software h2 { background: #6fa1df; }
.vhrp-box.hardware h2 { background: #132d4c; }